.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
    min-height: 20vh;
}

/* .body-entry{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    margin-top: 5%;
    min-width: 20vh;
} */

.welcome-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 20vh;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
    min-height: 20vh;
}

.input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-width: 35vh;
}

.input-register{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-width: 50vh;
}